* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.app {
  border: 5px solid blue;

  width: 100vw;
  height: 100vh;

  /* display: flex;
  align-items: center;
  justify-content: center; */
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 50% 50%;
}
.app > * {
  border: 2px solid pink;
}
button {
  line-height: 2rem;
  border: none;
  border: 1px solid grey;
  /* border-radius: 0.5rem; */
  /* margin: 0.5rem; */
}
#select-files-input {
  display: none;
}

.file-options {
  display: flex;
  flex-direction: column;
}

.video-preview {
  grid-column: span 3;
}
.video-preview video {
  width: 100%;
  height: 100%;

  object-fit: contain;
}
.options {
  grid-column: span 3;
  grid-row: span 2;

  display: flex;
  flex-direction: column;

  overflow-y: scroll;
}

h4 {
  margin-top: 1rem;
}

.files-list {
  grid-column: span 4;

  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(3, 1fr);

  overflow-y: scroll;
}
.files-list > * {
  aspect-ratio: 1/1;
  overflow: hidden;
}
